li {
    list-style: none;
    margin: 0.5em 0;
    background-color: #3030f538;
    border-radius: 0px;
    display: flex;
    align-items: center;
    padding: 0em 0.5em;

    svg {
        color: #2148f5;
        &:first-child {
            font-size: 1.2em;
            margin-right: 0em;
        }
    }

    p {
        flex: 1;
        font-size: 0.9rem;
    }

    .actions {
        justify-self: flex-end;
        cursor: pointer;

        .fa-spinner {
            font-size: 1.2em;
        }
    }
}